@model vb.Data.EventDateViewModel
@{
    ViewBag.Title = "ManageEventDate";
    Layout = "~/Areas/wholesale/Views/Shared/_wholesalelayout.cshtml";
}
@using vb.Data.ViewModel

<div class="box box-default">
    <div class="box-header with-border text-center">
        <h3 class="box-title">Manage Event date</h3>
    </div>
    <form id="frmEventDate" class="form-horizontal">
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <input name="EventDateID" id="UEventDateID" type="hidden" value="" />
                    <label for="Event" class="col-sm-4 control-label">Event</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.EventID, new SelectList(ViewBag.Event, "EventID", "EventName"), "Select Event", new { @class = "form-control select2", tabindex = "3", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EventDate" class="col-sm-4 control-label">Event Date</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right datepicker" id="EventDate" required="required">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="CancelEventDate" class="btn btn-default" tabindex="8">Cancel</button>
                @if (CommonMethod.IsActiveMenu(CommonMethod.RoleSystemName.WAEVENTDATE.ToString()))
                {
                    <button type="button" id="btnsavecase" class="btn btn-info" tabindex="7">Save</button>
                }
            </div>
        </div>
        <!-- /.box-footer -->
    </form>
    <div id="lstcase">
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        loadhtml();
    });

    function loadhtml() {
        $.ajax({
            url: '@Url.Action("ManageEventDateList")',
            type: 'GET',
            cache: false,
        }).done(function (result) {
            $('#lstcase').html(result);
        });
    }

    $("#btnsavecase").click(function () {
        if (!($('#frmEventDate').parsley().validate())) {
            return;
        }
        var datareq = new Object();
        datareq.EventDateID = $("#UEventDateID").val();
        datareq.EventID = $("#EventID").val();
        datareq.EventDate = $("#EventDate").val();
        $.ajax({
            url: '@Url.Action("ManageEventDate")',
            type: 'POST',
            data: { 'data': datareq },
            cache: false,
        }).done(function (result) {
            if (result == true) {
                if ($("#EventDateID").val() == "") {
                    $('div#sucessalert').html("Event Date Added successfully.");
                }
                else {
                    $('div#sucessalert').html("Event Date Updated successfully.");
                }
                showhidealert();
                loadhtml();
                clearform();
            }
        });
    });

    $("#CancelEventDate").click(function () {
        clearform();
    });

    function clearform() {
        $("#frmEventDate").find("input").val("");
        $("#EventID").val("").trigger("change");
    }
</script>
