@{
    ViewBag.Title = "ManagePouchName";
    Layout = "~/Areas/retail/Views/Shared/_retaillayout.cshtml";
}
@using vb.Data.ViewModel

<div class="box box-default">
    <div class="box-header with-border text-center">
        <h3 class="box-title">Add Pouch Name</h3>
    </div>
    <form id="frmPouchName" class="form-horizontal">
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <input name="PouchNameID" id="PouchNameID" type="hidden" value="" />
                    <input type="hidden" id="CreatedBy" class="CreatedBy" value="" />
                    <input type="hidden" id="CreatedOn" class="CreatedOn" value="" />
                    <label for="Name" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="PouchName" maxlength="200" id="PouchName" placeholder="Pouch Name" tabindex="1" required="required" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="FontSize" class="col-sm-4 control-label">Font Size</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="FontSize" maxlength="200" id="FontSize" placeholder="Font Size" tabindex="3" autocomplete="off" onkeypress="return onlyNumberKey(event)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="PouchSize" class="col-sm-4 control-label">Pouch Size</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="PouchSize" maxlength="200" id="PouchSize" placeholder="Pouch Size" tabindex="5" autocomplete="off" onkeypress="return onlyNumberKey(event)">
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="HSNNumber" class="col-sm-4 control-label">HSN Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="HSNNumber" maxlength="200" id="HSNNumber" placeholder="HSN Number" tabindex="2" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="DelayTime" class="col-sm-4 control-label">Delay Time</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="DelayTime" maxlength="200" id="DelayTime" placeholder="Delay Time" tabindex="4" autocomplete="off">
                    </div>
                </div>

            </div>
        </div>
        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="btncancel" class="btn btn-default" tabindex="3">Cancel</button>
                <button type="button" id="btnsave" class="btn btn-info" tabindex="2">Save</button>
            </div>
        </div>
    </form>
    <div id="lstcase">
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        loadhtml();
    });

    function onlyNumberKey(evt) {
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }

    function loadhtml() {
        $.ajax({
            url: '@Url.Action("PouchNameList")',
            type: 'GET',
            cache: false,
        }).done(function (result) {
            $('#lstcase').html(result);
        });
    }

    $("#btnsave").click(function () {
        if (!($('#frmPouchName').parsley().validate())) {
            return;
        }
        var datareq = new Object();
        datareq.PouchNameID = $("#PouchNameID").val();
        datareq.PouchName = $("#PouchName").val();
        datareq.HSNNumber = $("#HSNNumber").val();

        datareq.FontSize = $("#FontSize").val();
        datareq.DelayTime = $("#DelayTime").val();
        datareq.PouchSize = $("#PouchSize").val();

        datareq.CreatedBy = $("#CreatedBy").val();
        datareq.CreatedOn = $("#CreatedOn").val();
        $.ajax({
            url: '@Url.Action("AddPouchName")',
            type: 'POST',
            data: { 'data': datareq },
            cache: false,
        }).done(function (result) {
            if (result > 0) {
                if ($("#PouchNameID").val() == "") {
                    $('div#sucessalert').html("Pouch Name Add successfully.");
                }
                else {
                    $('div#sucessalert').html("Pouch Name Type updated successfully.");
                }
                showhidealert();
                loadhtml();
                clearform();
            }
        });
    });

    $("#btncancel").click(function () {
        clearform();
    });

    function clearform() {
        $("#frmPouchName").find("input").val("");
    }
</script>


