@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/expenses/Views/Shared/_expenseslayout.cshtml";
}
@using vb.Data.ViewModel
<div class="box box-default">
    <div class="box-header with-border text-center">
        <h3 class="box-title">Add Product</h3>
    </div>
    <form id="frmProduct" class="form-horizontal">
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <input name="ProductID" id="ProductID" type="hidden" value="" />
                    <input type="hidden" id="CreatedBy" class="CreatedBy" value="" />
                    <input type="hidden" id="CreatedOn" class="CreatedOn" value="" />
                    <label for="Name" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="ProductName" maxlength="200" id="ProductName" placeholder="Product Name" tabindex="1" required="required">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="HSNNumber" class="col-sm-4 control-label">HSN Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="HSNNumber" maxlength="200" id="HSNNumber" placeholder="HSN Number" tabindex="1" required="required">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="btncancel" class="btn btn-default" tabindex="3">Cancel</button>
                @*@if (CommonMethod.IsActiveMenu(CommonMethod.RoleSystemName.APurchaseType.ToString()))
                    {*@
                <button type="button" id="btnsave" class="btn btn-info" tabindex="2">Save</button>
                @*}*@
            </div>
        </div>
    </form>
    <div id="lstcase">
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

    $(document).ready(function () {
        loadhtml();
    });

    function loadhtml() {
        $.ajax({
            url: '@Url.Action("ProductList")',
            type: 'GET',
            cache: false,
        }).done(function (result) {
            $('#lstcase').html(result);
        });
    }

    $("#btnsave").click(function () {
        if (!($('#frmProduct').parsley().validate())) {
            return;
        }
        var datareq = new Object();
        datareq.ProductID = $("#ProductID").val();
        datareq.ProductName = $("#ProductName").val();
        datareq.HSNNumber = $("#HSNNumber").val();
        datareq.CreatedBy = $("#CreatedBy").val();
        datareq.CreatedOn = $("#CreatedOn").val();
        $.ajax({
            url: '@Url.Action("AddProduct")',
            type: 'POST',
            data: { 'data': datareq },
            cache: false,
        }).done(function (result) {
            if (result > 0) {
                if ($("#ProductID").val() == "") {
                    $('div#sucessalert').html("Product Add successfully.");
                }
                else {
                    $('div#sucessalert').html("Product updated successfully.");
                }
                showhidealert();
                loadhtml();
                clearform();
            }
        });
    });

    $("#btncancel").click(function () {
        clearform();
    });

    function clearform() {
        $("#frmProduct").find("input").val("");
    }
</script>


