@{
    ViewBag.Title = "SearchPackList";
    Layout = "~/Areas/retail/Views/Shared/_retaillayout.cshtml";
}

<div class="box">
    <div class="box-header text-center">
        <h3 class="box-title">Pack List</h3>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PackageDate" class="col-sm-4 control-label">Order Date </label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right datepicker" id="PackageDate" tabindex="3" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="btnsearch" class="btn btn-info" tabindex="6">Search</button>
                <button type="button" id="btnclear" class="btn btn-info" tabindex="7">Clear</button>
            </div>
        </div>
        <div id="lstcase">

        </div>

    </div>
    <!-- /.box-body -->
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {

        $("#btnsearch").click(function () {
            debugger;
            var model = new Object();

            model.date = $("#PackageDate").val();

            $.ajax({
                url: '@Url.Action("SearchViewPackList")',
                type: 'POST',
                data: { 'model': model },
                cache: false,
            }).done(function (result) {

                $('#lstcase').html(result);
            });
        });
        $("#btnclear").click(function () {
            debugger;
            $("#PackageDate").val("");
            var model = new Object();

            model.date = $("#PackageDate").val();

            $.ajax({
                url: '@Url.Action("SearchViewPackList")',
                type: 'POST',
                data: { 'model': model },
                cache: false,
            }).done(function (result) {

                $('#lstcase').html(result);
            });
        });
    });

</script>