@{
    ViewBag.Title = "ProductWiseGSTReport";
    Layout = "~/Areas/wholesale/Views/Shared/_wholesalelayout.cshtml";
}

<div class="box box-default">
    <div class="box-header with-border text-center">
        <h3 class="box-title">GST Product Wise Report</h3>
    </div>
    <form id="frmGSTReport" class="form-horizontal">
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DeliveryDate" class="col-sm-4 control-label">From </label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right datepicker" id="txtFrom" tabindex="1" autocomplete="off" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Tax" class="col-sm-4 control-label">Tax</label>
                    <div class="col-sm-8">
                        <select name="Tax" id="TaxID" class="form-control select2" tabindex="14" required="required">
                            <option value="" selected>Select Tax</option>
                            <option value="2">SGST</option>
                            <option value="3">IGST</option>                           
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DeliveryDate" class="col-sm-4 control-label">To </label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right datepicker" id="txtTo" tabindex="2" autocomplete="off" required="required">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="btnsearch" data-mainstartdate="" data-mainenddate="" class="btn btn-info" tabindex="8">Search</button>
                <button type="button" id="btnclear" class="btn btn-info" tabindex="9">Clear</button>
                <button type="button" id="btnexport" class="btn btn-info" tabindex="10">Export To Excel</button>

            </div>
        </div>
        <!-- /.box-footer -->
    </form>
    <div id="lstcase">
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#btnsearch").click(function () {
            debugger;
            loadhtml();
        });

        function loadhtml() {
            if (!($('#frmGSTReport').parsley().validate())) {
                return;
            }
            var model = new Object();
            model.StartDate = $("#txtFrom").val();
            model.EndDate = $("#txtTo").val();
            model.TaxID = $("#TaxID").val();
            model.Tax = $("#TaxID option:selected").text();
            model.CustomerID = $("#CustomerID").val();
            model.AreaID = $("#AreaID").val();
            model.ProductCategoryID = $("#ProductCategoryID").val();
            model.ProductID = $("#ProductID").val();
            model.UserID = $("#UserID").val();
            $.ajax({
                url: '@Url.Action("ProductWiseGSTReportList")',
                type: 'POST',
                data: { 'model': model },
                cache: false,
            }).done(function (result) {
                $('#lstcase').html(result);
            });
        }

        $("#btnexport").click(function () {
            debugger;
            var model = new Object();
            model.StartDate = $("#txtFrom").val();
            model.EndDate = $("#txtTo").val();
            model.TaxID = $("#TaxID").val();
            model.Tax = $("#TaxID option:selected").text();
            model.CustomerID = $("#CustomerID").val();
            model.AreaID = $("#AreaID").val();
            model.ProductCategoryID = $("#ProductCategoryID").val();
            model.ProductID = $("#ProductID").val();
            model.UserID = $("#UserID").val();
            model.CustomerName = $("#CustomerID option:selected").text();
            var url = '@Url.Action("ExportExcelProductWiseGSTReportList", "Report", new { StartDate = "__StartDate__", EndDate = "__EndDate__", Tax = "__Tax__", TaxID = "__TaxID__", CustomerID = "__CustomerID__", AreaID = "__AreaID__", ProductCategoryID = "__ProductCategoryID__", ProductID = "__ProductID__", UserID = "__UserID__", CustomerName = "__CustomerName__" })';
            url = url.replace(/amp;/g, '');
            window.location.href = url.replace('__StartDate__', model.StartDate).replace('__EndDate__', model.EndDate).replace('__Tax__', model.Tax).replace('__TaxID__', model.TaxID).replace('__CustomerID__', model.CustomerID).replace('__AreaID__', model.AreaID).replace('__ProductCategoryID__', model.ProductCategoryID).replace('__ProductID__', model.ProductID).replace('__UserID__', model.UserID).replace('__CustomerName__', model.CustomerName);
        });

        $("#btnclear").click(function () {
            debugger;
            location.reload();
        });
    });

</script>


